/* 
    Created on : 23-abr-2017, 19:43:11
    Author     : Isidro
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*************************************************
/* VISTA DE MÓVIL - Dispositivos < 768 píxeles */

body {
    font-family: Aclonica;
    font-size: 5vw;
}

/**************************** */
/* PANEL DE LA PUNTUACIÓN */
section#puntuacion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 3vw;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 1ex;

    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}

section#puntuacion article {
    flex-grow: 1;
    width: 33.33%;
    min-width: 33.33%;
}

section#puntuacion article div.datos_puntuacion {
    font-size: 7vw;
}

section#puntuacion article div div.datos_puntuacion {
    display: inline;
}

section#puntuacion article div span {
    font-size: 7vw;
}

section#puntuacion article:nth-child(2) {
    background-color: white;
    color: black;

    border-radius: 0px 0px 50px 50px;
    -moz-border-radius: 0px 0px 50px 50px;
    -webkit-border-radius: 0px 0px 50px 50px;

    -webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
}
/* END PANEL DE LA PUNTUACIÓN */
/**************************** */

/**************************** */
/* PANEL DEL ROSCO */
article#rosco {
    padding-left: 5rem;
    padding-right: 5rem;
}

article#rosco div {
    width: 2rem;
    border: 2px solid white;
    color: white;
    border-radius: 100%;
}

article#rosco div.fondo_azul {
    background-color: blue;
}

.fondo_verde {
    background-color: green;
}

.fondo_rojo {
    background-color: red;
}

article#rosco div.fondo_amarillo {
    background-color: yellow;
    color: black;
    
    animation-duration: 4000ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    0% {
        background-color: yellow;
        color: black;
    }
    50% {
        background-color: blue;
        color: white;
    }
    100% {
        background-color: yellow;
        color: black;
    }
 }

/* END PANEL DEL ROSCO */
/**************************** */

/**************************** */
/* PANEL DEL JUEGO */
section#juego {
    width: 100%;
    text-align: center;
}

section#juego article {
    width: 100%;
}

section#juego article:nth-child(1) {
    /*background-color: red;*/
}

.myButton_enabled {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-weight:bold;
    padding: 1ex 0px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.myButton_enabled:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.myButton_enabled:active {
    position:relative;
    top:1px;
}

.myButton_disabled {
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bbb), color-stop(1, #aaa) );
    background:-moz-linear-gradient( center top, #bbb 5%, #aaa 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#aaa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    font-family:Arial Black;
    color:#333333;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 3px 0px #ccc;
    box-shadow: 6px 6px 5px 0 rgba(0,0,0,0.4);
}

section#juego article#formulario_juego {
    text-align: center;
}

section#juego article#formulario_juego table {
    width: 100%;
}

section#juego article#formulario_juego table tr td {
    width: 50%;
    height: 4ex;
}

section#juego article#formulario_juego input {
    margin: 2ex;
    transform: scale(2);
}

section#juego article#formulario_juego a {
    width: 70%;
    font-size: 4vw;
}

section#juego article#formulario_juego div.error {
    display: none;
    margin-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    width: 95%;
    color: red;
    font-weight: bold;
    background-color: #FFC6C6;
}

/* END PANEL DEL JUEGO */
/**************************** */

/**************************** */
/* PANEL DE LOS RECORDS */

section#records {
    font-size: 5vw;
}

section h4 {
    text-align: center;
    margin-top: 3ex;
    margin-bottom: 2ex;
    text-decoration: underline;
}

/* Generic Styling, for Desktops/Laptops */
section#records table, section#resultado_rosco table { 
  width: 100%;
  border-collapse: collapse; 
}

/* Zebra striping */
section#records tr:nth-of-type(odd) { 
  background: #eee;
}

section#records th, section#resultado_rosco th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}

section#records td, section#records th, section#resultado_rosco td, section#resultado_rosco th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    section#records table, section#records thead, section#records tbody, 
    section#records th, section#records td, section#records tr,
    section#resultado_rosco table, section#resultado_rosco thead, section#resultado_rosco tbody, 
    section#resultado_rosco th, section#resultado_rosco td, section#resultado_rosco tr { 
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    section#records thead tr, section#resultado_rosco thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    section#records tr, section#resultado_rosco tr { border: 1px solid #ccc; }

    section#records td, section#resultado_rosco td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    section#records td:before, section#resultado_rosco td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    /*
    Label the data
    */
    section#records td:nth-of-type(1):before { content: "Posición"; }
    section#records td:nth-of-type(2):before { content: "Nombre"; }
    section#records td:nth-of-type(3):before { content: "Puntos"; }
    section#records td:nth-of-type(4):before { content: "Tiempo"; }
    section#records td:nth-of-type(5):before { content: "Fecha"; }
    
}

/* END PANEL DE LOS RECORDS */
/************************************************ */


/**************************** */
/* PANEL DE ELECCIÓN DE DIFICULTAD */

section#elegir_dificultad {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    font-size: 4vw;
    
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}

section#elegir_dificultad article {
    width: 100%;
    margin: 0 auto;
    margin-top: 3ex;
    text-align: center;
    color: white;
}

section#elegir_dificultad article#info_juego {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    border-top: 2px solid white;
}

section#elegir_dificultad article#info_juego div {
    flex-grow: 1;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    opacity: 0.4;
}

section#elegir_dificultad article#info_juego div.info_datos p:first-child {
    font-size: 7vw;
}

section#elegir_dificultad article#seleccion_dificultad {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid white;
    z-index: 2;
}

section#elegir_dificultad article#seleccion_dificultad p {
    margin-bottom: 1rem;
}

section#elegir_dificultad article#seleccion_dificultad p span {
    width: 40%;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

section#elegir_dificultad article#seleccion_dificultad p select {
    width: 40%;
    height: 5ex;
}

section#elegir_dificultad article#seleccion_dificultad a {
    font-size: 7vw;
    width: 80%;
    margin-bottom: 2rem;
}

article#info_autor {
    font-size: 3vw;
}

article#info_autor p {
    text-align: left;
    padding-left: 1.5rem;
}

/* END PANEL DE ELECCIÓN DE DIFICULTAD */
/************************************************ */

/**************************** */
/* PANEL DE GUARDAR PARTIDA */

section#guardar_record_container { 
    /*display: none;*/
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    font-size: 4vw;
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}

/* Guardar record */
section#guardar_record_container section#guardar_record {
    width: 100%;
    padding-top: 2ex;
    padding-bottom: 2ex;
}

section#guardar_record_container section#guardar_record table {
    width: 100%;
    text-align: center;
    font-size: 7vw;
    color: white;
}

section#guardar_record_container section#guardar_record input {
    display: block;
    margin-top: 4ex;
    margin-bottom: 6ex;
    margin-left: 12rem;
    width: 12rem;
    transform: scale(2);
}

section#guardar_record_container section#guardar_record a {
    font-size: 4vw;
    width: 12rem;
}

/* END PANEL DE GUARDAR PARTIDA */
/************************************************ */

/**************************** */
/* PANEL DE RESULTADOS */

/* Resultado de la partida */

section#juego article#resultados {
    display: none;
    font-size: 7vw;
    text-align: center;
    color: white;
    padding-top: 1ex;
    padding-bottom: 1ex;
    
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}

article#resultados section#resultado_container {
    font-size: 7vw;
    opacity: 0.8;
}

/* Generic Styling, for Desktops/Laptops */
article#resultados section#resultado_rosco {
    font-size: 5vw;
    padding-top: 0.5ex;
    padding-bottom: 2ex;
}

article#resultados section#resultado_rosco h4 {
    text-align: center;
    margin-top: 3ex;
    margin-bottom: 2ex;
    text-decoration: underline;
    padding-bottom: 1ex;
}

 /*Zebra striping */
article#resultados section#resultado_rosco tr:nth-of-type(odd) { 
  background-color: #084B8A;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    
    /*Label the data*/
    
    section#resultado_rosco td:nth-of-type(1):before { content: "Letra"; }
    section#resultado_rosco td:nth-of-type(2):before { content: "Definición"; }
    section#resultado_rosco td:nth-of-type(3):before { content: "Solución"; }
    section#resultado_rosco td:nth-of-type(4):before { content: "Acertada"; }
    
}

section#juego a {
    font-size: 4vw;
    margin-top: 3ex;
    width: 12rem;
}

/* END PANEL DE RESULTADOS */
/************************************************ */

/* END VISTA DE MÓVIL */
/************************************************ */

/*************************************************
/* VISTA DE ESCRITORIO - Dispositivos >= 768 píxeles */
@media (min-width: 768px) {
    
    body {  
        background: rgba(235,233,249,1);
        background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(50%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
        background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        background: -o-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
    }

    /**************************** */
    /* PANEL DE LA PUNTUACIÓN */
    section#puntuacion {
        font-size: 1.5vw;
        margin-bottom: 1ex;
    }

    section#puntuacion article div.datos_puntuacion {
        font-size: 3vw;
    }
    
    section#puntuacion article div span {
        font-size: 3vw;
    }
    /* END PANEL DE LA PUNTUACIÓN */
    /**************************** */

    /**************************** */
    /* PANEL DEL JUEGO */

    section#juego {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5vw;
    }

    section#juego article {
        flex-grow: 1;
        width: 50%;
        min-width: 50%;
    }

    section#juego article:nth-child(1) {
        /*Rosco*/
    }
    
    section#juego article#formulario_juego {
        background-color: white;
        opacity: 0.8;
    }

    section#juego article#formulario_juego table {
        width: 90%;
        margin: 0 auto;
    }

    section#juego article#formulario_juego table tr td {
        width: 50%;
        height: 4ex;
    }

    section#juego article#formulario_juego input {
        margin: 2ex;
        width: 50%;
        transform: scale(1.5);
    }

    section#juego article#formulario_juego a {
        width: 50%;
        font-size: 1vw;
    }
    /* END PANEL DEL JUEGO */
    /**************************** */
    
    /**************************** */
    /* PANEL DE LOS RECORDS */

    section#records {
        font-size: 1vw;
        margin-top: 5ex;
    }
    
    section#records h4 {
        display: none;
    }
    
    section#records table {
        width: 90%;
        margin: 0 auto;
        background-color: white;
    }

    /* END PANEL DE LOS RECORDS */
    /************************************************ */
    
    /**************************** */
    /* PANEL DE ELECCIÓN DE DIFICULTAD */

    section#elegir_dificultad {
        position: absolute;
        width: 60vw;
        height: auto;
        top: 20%;
        left: 25%;
        font-size: 1vw;

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;

        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    section#elegir_dificultad article#info_juego {
        display: inline-flex;
        padding-top: 2rem;
    }

    section#elegir_dificultad article#info_juego div {
        display: inline-block;
        width: 25%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    section#elegir_dificultad article#info_juego div.info_datos p:first-child {
        font-size: 2vw;
    }

    section#elegir_dificultad article#seleccion_dificultad p {
        margin-bottom: 1rem;
    }

    section#elegir_dificultad article#seleccion_dificultad p span {
        margin-left: 0px;
    }

    section#elegir_dificultad article#seleccion_dificultad p select {
        width: 20%;
        height: 4ex;
    }

    section#elegir_dificultad article#seleccion_dificultad a {
        font-size: 1vw;
        width: 32%;
        margin-bottom: 1rem;
    }

    article#info_autor {
        font-size: 1vw;
        padding-bottom: 2ex;
    }

    /* END PANEL DE ELECCIÓN DE DIFICULTAD */
    /************************************************ */
    
    /**************************** */
    /* PANEL DE GUARDAR RECORD */

    section#guardar_record_container {
        position: absolute;
        width: 30vw;
        top: 15%;
        left: 10%;
        font-size: 1vw;
        
        -webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
    }

    /* Resultados (puntuacion final) */
    section#guardar_record_container section#resultados_puntuacion {
        width: 85%;
        font-size: 0.7vw;
        background-color: #585858;
        opacity: 0.6;
        padding: 2ex;
        margin: 0 auto;
        margin-top: 4ex;
    }

    section#resultados_puntuacion article div.resultados_puntuacion, section#resultados_puntuacion article div span {
        font-size: 1.5vw;
    }

    /* Guardar record */
    section#guardar_record_container section#guardar_record {
        width: 85%;
        margin-top: 2ex;
        padding-bottom: 2ex;
    }

    section#guardar_record_container section#guardar_record table {
        font-size: 1.2vw;
        width: 100%;
        margin-left: 0.7rem;
    }

    section#guardar_record_container section#guardar_record input {
        margin: 5ex;
        margin-left: 5rem;
        width: 65%;
        transform: scale(1.5);
    }

    section#guardar_record_container section#guardar_record a {
        width: 8rem;
        font-size: 1vw;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 1rem;
    }

    /* END PANEL DE GUARDAR RECORD */
    /************************************************ */
    
    /**************************** */
    /* PANEL DE RESULTADOS */

    /* Resultado de la partida */

    section#juego article#resultados {
        font-size: 2vw;
        padding-top: 1ex;
        padding-bottom: 1ex;
    }
    
    article#resultados section#resultado_container {
        font-size: 2vw;
        opacity: 0.6;
    }

    /* Generic Styling, for Desktops/Laptops */
    article#resultados section#resultado_rosco {      
        width: 95%;
        font-size: 1vw;
        padding-top: 0.5ex;
        padding-bottom: 2ex;
        margin: 0 auto;
    }

    article#resultados section#resultado_rosco h4 {
        margin-top: 1ex;
        margin-bottom: 1ex;
        font-size: 1.5vw;
        padding-bottom: 0.5ex;
    }

    section#juego a {
        font-size: 1vw;
        margin-top: 3ex;
        width: 8rem;
    }

    /* END PANEL DE RESULTADOS */
    /************************************************ */

}
/* END VISTA DE ESCRITORIO */
/************************************************ */
