/* 
    Created on : 23-abr-2017, 19:43:11
    Author     : Isidro
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: red;
}

/*************************************************
/* VISTA DE MÓVIL - Dispositivos < 768 píxeles */

/* END VISTA DE MÓVIL */
/************************************************ */

/*************************************************
/* VISTA DE ESCRITORIO - Dispositivos >= 768 píxeles */
@media (min-width: 768px) {
    
}
/* END VISTA DE ESCRITORIO */
/************************************************ */
